<!doctype html>
<html lang="ko">
  <% include include/head %>
  <body>

<div id="wrap">
    <!-- inc header -->
    <% include include/header %>
    <!-- //inc header -->
    <!-- container -->
    <section class="container apply">
        <section class="contents">
            <div class="sub-title">
                <div class="inner">
                    <h1>무료 상담신청</h1>
                    <button onclick="location.href='/apply05'" class="btn-prev"><span class="sp-comm"></span>컨설팅/평가/감사</button>
                    <button onclick="location.href='/apply01'" class="btn-next"><span class="sp-comm"></span>기장대행</button>
                </div>
            </div>
            <div class="location">
                <div class="inner">
                    <div class="breadcrumbs">
                        <a href="/" class="btn-home"><span class="sp-comm">home</span></a>
                        <span><a href="#">세무 상담 및 견적 신청</a></span>
                        <span><a href="#">무료 상담신청</a></span>
                    </div>
                </div>
            </div>
            <div class="inner">
                <!-- 비회원 작성시 개인정보취급방침 내용 추가 -->
                <div class="privacy-agree">
                    <%-companyInfo.cmp_notice%>
                    <div class="inp-check">
                        <input type="checkbox" id="checkbox0" name="checkbox0"><label for="checkbox0">개인정보 수집 및 이용안내에 동의합니다.</label>
                    </div>
                </div>
                <!-- //비회원 작성시 개인정보취급방침 내용 추가 -->
                <form method="post" name="semuForm1" id="semuForm1">
                    <input type="hidden" name="semuType" id="semuType" value="F">
                    <input type='file' id='file0' name='attatch' onchange="changeValue1(this)"/>
                    <input type='file' id='file1' name='attatch' onchange="changeValue2(this)"/>
                    <input type="hidden" id="key" name="key" value="<%=key%>">

                    <div class="apply-form">
                    <ul>
                        <li>
                            <label for="">이름 <span>*</span></label>
                            <div class="inp-box">
                                <input type="text" id="name" name="name" value="<%=member_name%>" placeholder="신청자 이름">
                            </div>
                        </li>
                        <li>
                            <label for="">비밀번호 <span>*</span></label>
                            <div class="inp-box">
                                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요.">
                            </div>
                        </li>
                        <li>
                            <label for="">이메일</label>
                            <div class="inp-box">
                                <input type="text" id="email" name="email" value="<%=member_email%>" placeholder="이메일을 입력하세요.">
                            </div>
                        </li>
                        <li>
                            <label>옵션</label>
                            <div class="inp-check">
                                <span class="form-ele"><input type="checkbox" id="business02" name="bimil" value="Y"><label for="business02">비밀글</label></span>
                            </div>

                        </li>
                        <li>
                            <label for="">분류</label>
                            <div class="inp-text">
                                <%if(whoami != null){%>
                                    회원
                                <%}else{%>
                                    비회원
                                <%}%>
                                </div>
                        </li>
                        <li>
                            <label for="title">제목 <span>*</span></label>
                            <div class="inp-box">
                                <input type="text" id="title" name="title" placeholder="제목을 입력하세요.">
                            </div>
                        </li>
                        <li class="textarea-box detail">
                            <label for="">상세내용</label>
                            <textarea id="etc" name="etc" placeholder=""></textarea>
                        </li>
                        <li class="brief">
                            <label for="link1">링크 #1</label>
                            <div class="inp-box">
                                <input type="text" id="link1" name="link1" placeholder="">
                            </div>
                        </li>
                        <li class="brief">
                            <label for="link2">링크 #2</label>
                            <div class="inp-box">
                                <input type="text" id="link2" name="link2" placeholder="">
                            </div>
                        </li>
                        <li class="brief">
                            <label for="">첨부파일 #1</label>
                            <div class="inp-box file">
                                <input type="text" id="file1_text" name="file1_text" placeholder="">
                                <button class="btns" id='btn-upload1'>찾아보기</button>
                            </div>
                        </li>
                        <li class="brief">
                            <label for="">첨부파일 #2</label>
                            <div class="inp-box file">
                                <input type="text" id="file2_text" name="file2_text" placeholder="">
                                <button class="btns" id='btn-upload2'>찾아보기</button>
                            </div>
                        </li>
                        <!-- 191128 -->

                        <!-- //191128 -->
                        <li class="certify02">
                            <label>자동등록방지</label>
                            <!-- 191128 -->
                            <div class="certify">
                                <div>
                                    <p class="img"><img src="/captcha/image?key=<%=key%>" alt="cap" title="cap" id="cap_img"></p>
                                    <button onclick="javascript:caprefesh();return false;" class="sp-comm replay">replay</button>
                                    <input type="text" id="captcha" name="captcha" placeholder="숫자입력">
                                </div>
                                <p class="txt">자동등록방지 숫자를 순서대로 입력하세요.</p>
                            </div>
                            <!-- //191128 -->
                        </li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="/" class="btns size-mid color-gray">취소하기</a>
                        <a href="javascript:onMatchingSave();" class="btns size-mid color-green">신청하기</a>
                    </div>
                </div>
                </form>
            </div>
        </section>
    </section>
    <!-- //container -->
    <!-- inc footer -->
    <% include include/footer %>
    <!-- //inc footer -->
</div>
<style>
    #file0 { display:none; }
    #file1 { display:none; }
</style>
<script>


    $(function () {


        $('#btn-upload1').click(function(e){
            e.preventDefault();
            $("#file0").click();

        });
        $('#btn-upload2').click(function(e){
            e.preventDefault();
            $("#file1").click();

        });


    });


    function caprefesh(){
        //console.log("caprefresh:");
        var imgsrc = document.getElementById("cap_img");
        //console.log("imgsrc:"+imgsrc);
        imgsrc.src = "/captcha/image?key=<%=key%>";
    }

    function changeValue1(obj){

        console.log("file1 click");
        var ext = $("#file0").val().split(".").pop().toLowerCase();
        console.log("ext:"+ext);
        if(ext.length > 0){
            if($.inArray(ext, ["gif","png","jpg","jpeg"]) == -1) {
                alert("gif,png,jpg 파일만 업로드 할수 있습니다.");
                return false;
            }
        }
        $("#file0").val().toLowerCase();
        console.log("file:"+$("#file0").val());
        $("#file1_text").val($("#file0").val().toLowerCase());

    }

    function changeValue2(obj){

        console.log("file2 click");
        var ext = $("#file1").val().split(".").pop().toLowerCase();
        console.log("ext:"+ext);
        if(ext.length > 0){
            if($.inArray(ext, ["gif","png","jpg","jpeg"]) == -1) {
                alert("gif,png,jpg 파일만 업로드 할수 있습니다.");
                return false;
            }
        }
        $("#file1").val().toLowerCase();
        console.log("file:"+$("#file1").val());
        $("#file2_text").val($("#file1").val().toLowerCase());

    }

    function onMatchingSave(){




        if ( $("input:checkbox[id='checkbox0']").is(":checked") == false )
        {
            var message = "개인정보 수집에 동의해 주세요";
            $("#checkbox0").val("");
            $("#checkbox0").focus();
            alert(message);
            return false;
        }

        if ( $("#name").val().trim() == "" )
        {
            var message = "이름을 입력해 주세요.";
            $("#name").val("");
            $("#name").focus();
            alert(message);
            return false;
        }
        if ( $("#password").val().trim() == "" )
        {
            var message = "비밀번호를 입력해 주세요.";
            $("#password").val("");
            $("#password").focus();
            alert(message);
            return false;
        }
        if ( $("#title").val().trim() == "" )
        {
            var message = "제목을 입력해 주세요.";
            $("#title").val("");
            $("#title").focus();
            alert(message);
            return false;
        }

        if ( $("#captcha").val().trim() == "" )
        {
            var message = "자동입력방지를 입력해 주세요";
            $("#captcha").val("");
            $("#captcha").focus();
            alert(message);
            return false;
        }

        $('.btns').click(function () {return false;});

            $.ajax({
                type : "GET",
                url  : "/captcha/checkCaptcha",
                data : {
                    key : $("#key").val(),
                    value : $("#captcha").val()
                },
                dataType: "json",
                async: false,
                success : function(data) {
                    if(data == 'success'){
                        var url = "/semu/matchingSave";



                        $("form[name='semuForm1']").attr("target","_self");
                        $("form[name='semuForm1']").attr("action", url);
                        $("form[name='semuForm1']").attr("method","post");
                        $("form[name='semuForm1']").ajaxSubmit({
                            success : function(data){
                                if(data.result == 'success'){
                                    $('.btns').unbind('click');
                                    location.href="/apply/apply_result/F";

                                }else{
                                    alert('오류가 발생했습니다!');
                                }
                            }
                            ,error : function(e) {
                                alert('오류가 발생했습니다!');
                            }
                        });
                    }else{
                        alert('자동방지입력 값이 틀립니다.');
                        return false;
                    }


                },
                error : function(xhr, status, error) {
                    alert('오류가 발생했습니다!');
                }
            });
   }


    function getVerifyNumber(){
        console.log($("#phone").val());
        if ( $("#phone").val().trim() == "" )
        {
            var message = "휴대전화를 입력해 주세요.";
            $("#phone").val("");
            $("#phone").focus();
            alert(message);
            return false;
        }

        var params = {
            member_phone: $("#phone").val()
        };

        console.log(params);
        $.ajax({
            method: "POST",
            url: "/getVerifyNumber",
            data: params
        }).done(function( data ) {
            if(data.result == 'success'){
                alert("인증번호가 전송되었습니다.");
                $("#verify").show();
                $("#verifyNumber").val($.trim(data.message));
                $("#verifyNumberChk").focus();
                //myFunction();
            }
            else{
                alert(msg.message);
            }
        });

        // $("#verify").show();
        // $("#verifyNumber").val('123456');
        // $("#verifyNumberChk").focus();
    }

    function chkVerifyNumber(){
        if ($("#verifyNumberChk").val() != "") {
            if ($("#verifyNumber").val() != $("#verifyNumberChk").val()) {
                alert("인증번호가 정확하지 않습니다.");
                $("#verifyNumberChk").focus();
            } else {
                alert('※ 휴대폰인증이 정상처리 되었습니다.');

                //$("#time").hide();
                $("#verifyYn").val("Y");
            }
        } else {
            alert("인증번호를 입력하지 않았습니다.");
            $("#verifyNumberChk").focus();
        }
    }

</script>
  </body>
</html>